%button{
  padding: 10px;
  border: 2px solid $color-borde;
  background-color: white;
}

.button-{
  &primary{
    @extend %button;
    background-color: $color-primario;
  }
  $secondary{
    @extend %button;
    background-color: $color-secundario;
  }
}